<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<%= image_tag("carousel_01.jpg") %>
			<div class="carousel-caption">
				<h3>Chania</h3>
				<p>The atmosphere in Chania has a touch of Florence and Venice.</p>
			</div>
		</div>

		<div class="item">
			<%= image_tag("carousel_02.jpg") %>
			<div class="carousel-caption">
				<h3>Chania</h3>
				<p>The atmosphere in Chania has a touch of Florence and Venice.</p>
			</div>

		</div>

		<div class="item">
			<%= image_tag("carousel_03.jpg") %>
			<div class="carousel-caption">
				<h3>Chania</h3>
				<p>The atmosphere in Chania has a touch of Florence and Venice.</p>
			</div>

		</div>

		<div class="item">
			<%= image_tag("carousel_04.jpg") %>
			<div class="carousel-caption">
				<h3>Chania</h3>
				<p>The atmosphere in Chania has a touch of Florence and Venice.</p>
			</div>

		</div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<!-- ===================================================================== -->
<hr class="featurette-divider">

<!-- about -->
<div class="container marketing" id="about">
	<h2 class="featurette-heading">About</h2>

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<%= image_tag("map.jpg", :class => "img-circle", :width => 140, :height => 140) %>
			<h2>Heading</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= image_tag("map.jpg", :class => "img-circle", :width => 140, :height => 140) %>
			<h2>Heading</h2>
			<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= image_tag("map.jpg", :class => "img-circle", :width => 140, :height => 140) %>
			<h2>Heading</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->

</div> <!-- end service -->



<!-- ===================================================================== -->
<hr class="featurette-divider">

<!-- service -->
<div class="container marketing" id="service">
	<h2 class="featurette-heading">Service</h2>

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<%= image_tag("map.jpg", :class => "img-circle", :width => 140, :height => 140) %>
			<h2>Heading</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= image_tag("map.jpg", :class => "img-circle", :width => 140, :height => 140) %>
			<h2>Heading</h2>
			<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= image_tag("map.jpg", :class => "img-circle", :width => 140, :height => 140) %>
			<h2>Heading</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->

</div> <!-- end service -->

<!-- ===================================================================== -->
<!-- join us -->
<hr class="featurette-divider">

<div class="container marketing" id="join_us">
	<h2 class="featurette-heading">Join us</h2>

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<%= image_tag("map.jpg", :class => "img-circle", :width => 140, :height => 140) %>
			<h2>Heading</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= image_tag("map.jpg", :class => "img-circle", :width => 140, :height => 140) %>
			<h2>Heading</h2>
			<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= image_tag("map.jpg", :class => "img-circle", :width => 140, :height => 140) %>
			<h2>Heading</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
	<div class="text-center">
		<button id="sign_up" name="sign_up" class="btn btn-primary">Sign up</button> 
	</div>

</div> <!-- end join_us -->

<!-- ===================================================================== -->
<hr class="featurette-divider">

<!-- contact -->
<div class="container" id="contact">
	<div class="row featurette">
		<div class="col-md-7 col-md-push-5">
			<h2 class="featurette-heading">Contact Us</h2>
			<address>
				<strong>SpongeTree, Inc.</strong><br>
				795 Folsom Ave, Suite 600<br>
				San Francisco, CA 94107<br>
				<abbr title="Phone">P:</abbr> (123) 456-7890<br>
				<abbr title="Tax">T:</abbr> (123) 456-7890<br>
				<a href="mailto:#">first.last@example.com</a>
			</address>
		</div>
		<div class="col-md-5 col-md-pull-7">
			<%= image_tag("map.jpg", :class => "featurette-image img-responsive center-block img-thumbnail") %>
		</div>
	</div>

	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="control-label col-sm-2" for="name">Name:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="name" placeholder="Tingyu Huang">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="phone">Phone:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="phone" placeholder="+886912345678">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="comment">Comment:</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="5" id="comment" placeholder="Me parece..."></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</div><!-- end contact -->

<!-- ===================================================================== -->


